.mainBox {
    height: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    height: 100%;
    width: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle {
    flex: 0;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spacer {
    width: max-content;
}

.raceButton {
    border: 0;
    background-color: var(--sub-alt-color);
    padding: .4rem .8rem;
    border-radius: var(--roundness);
    color: var(--text-color);
    transition: color 150ms ease, background-color 150ms ease, filter 150ms ease;
}

.raceButton:hover {
    color: var(--sub-alt-color);
    background-color: var(--text-color);
}

.raceButton:active {
    transition: filter 150ms ease;
    filter: opacity(0.8);
}

.raceButton:disabled {
    filter: opacity(0.5);
}

.raceButton:disabled:active {
    filter: opacity(0.4);
}

.countdownSection {
    display: flex;
    align-items: flex-end;
    color: var(--sub-color);
    font-size: 1.5rem;
    gap: 1rem;
}

.countdownNumber {
    font-size: 2rem;
    color: var(--main-color);
}

.chatbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    gap: 1rem;
    width: 100%;
    color: var(--sub-color);
    justify-self: flex-end;
    height: 25rem;
}

.messageListWrapper {
    flex-direction: column-reverse;
    display: flex;
    overflow-x: auto;
    overflow-y: scroll;
    min-height: 15rem;
    width: 100%;
}

.messageList {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.5rem;
}

.message {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
    color: var(--sub-color);
}

.author {
    color: var(--sub-color);
}

.me {
    color: var(--main-color);
}

.content {
    word-break: break-word;
    color: var(--text-color);
}

.hr {
    height: 2px;
    background-color: var(--sub-color);
    border-radius: var(--roundness);
}

.chatboxBottom {
    display: flex;
    align-items: center;
    width: 100%;
    justify-self: flex-end;
}

.textarea {
    outline: none;
    border: 2px solid transparent;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: .4rem .6rem.4rem .6rem;
    transition: filter 200ms ease;
    width: 100%;
    font-size: 0.9rem;
    overflow: hidden;
    resize: none;
    min-height: 1.25rem;
    line-height: 1.25rem;
    word-break: break-word;
}

.textarea:focus {
    border: 2px solid var(--main-color);
    border-radius: var(--roundness);
}

.textarea:disabled {
    filter: opacity(50%);
    cursor: not-allowed;
}

.textarea::placeholder {
    color: var(--sub-color);
}

.sendButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid transparent;
    color: var(--sub-color);
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: .4rem .6rem;
    transition: color 100ms ease;
    height: 100%;
}

.sendButton:hover {
    color: var(--text-color);
}

.sendButton:active {
    color: var(--sub-color);
}

.sendButton:disabled {
    color: var(--bg-color);
}

.submitButton {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid transparent;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    padding: 4px 6px;
    transition: color, background-color 200ms ease;
}

.submitButton:focus {
    border: 2px solid var(--main-color);
}

.submitButton:hover {
    color: var(--sub-alt-color);
    background-color: var(--text-color);
    cursor: pointer;
}

.submitButton:disabled {
    color: var(--bg-color);
}

.error {
    font-size: 0.75rem;
}

.instead {
    font-size: 0.75rem;
    color: var(--sub-color);
    transition: color 100ms ease;
}

.instead:hover {
    color: var(--text-color);
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.italic {
    font-style: italic;
}

.emptyScoreboardMessage {
    color: var(--sub-color);
}

.racerCard {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
    width: 100%;
}

.user {
    color: var(--text-color);
}

.accuracy {
    width: 3rem;
    text-align: right;
}

.progressBar {
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    border-radius: var(--roundness);
}

.left {
    flex: 1;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6rem;
}

.wpm {
    color: var(--sub-color);
    text-align: right;
}

.finished {
    color: var(--main-color);
}

.loadingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.spinner {
    color: var(--sub-color);
    animation: spin 500ms linear infinite;
    font-size: 2rem;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(360deg);
    }
}
