.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    height: 100%;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--sub-alt-color);
    border-radius: 10px;
}

.username {
    font-size: 3rem;
}

.centerInfo {
}

.userStats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}

.joinedInfo {
    font-size: 0.8rem;
    color: var(--sub-color);
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.groupTop {
    font-size: 2rem;
}

.groupBottom {
    font-size: 0.8rem;
    color: var(--sub-color);
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--sub-color);
    font-size: 0.75rem;
}

.wpm {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
}

.accuracy {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--sub-color);
}

.chartFallback {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 75%;
    min-width: 50%;
    margin: 0 auto;
}

.chart {
    grid-area: chart;
    height: 400px;
    width: 75%;
    min-width: 50%;
}

.chartAppear {
    opacity: 0;
}

.chartAppearActive {
    opacity: 1;
    transition: opacity 300ms;
}

.chartAppearDone {
    opacity: 1;
}

.label {
    padding: 1rem;
}

.bestUserScoresBoxWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.selectModeButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.selectModeButton {
    position: relative;
    border: 0;
    background: none;
    color: var(--sub-color);
    padding: .4rem .75rem;
    font-size: .8rem;
}

.selectModeButton:active {
    transition: filter 100ms ease;
    filter: opacity(0.8);
}

/* the funniest thing I've done */
.selectModeButton::before, .selectModeButton::after, .selected::before, .selected::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--sub-color);
    transition: width 150ms ease;
}

.selectModeButton::before, .selected::before {
    left: 50%;
    transform: translateX(-50%);
}

.selectModeButton::after, .selected::after {
    right: 50%;
    transform: translateX(50%);
}

.selectModeButton:hover::before, .selectModeButton:hover::after, .selected::before, .selected::after {
    width: 75%;
}

.bestUserScoresBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem 0.9rem;
    height: 7rem;
    border-radius: var(--roundness);
    /*background-color: var(--sub-alt-color);*/
}

.cardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--sub-color);
    gap: .25rem;
    height: 6rem;
    width: 6rem;
    cursor: default;
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: .25rem;
}

.cardEnter {
    opacity: 0;
}

.cardEnterActive {
    opacity: 1;
    transition: opacity 150ms;
}

.cardExit {
    opacity: 1;
}

.cardExitActive {
    opacity: 0;
    transition: opacity 150ms;
}

.top {
    font-size: 0.8rem;
}

.center {
    font-size: 2rem;
    filter: opacity(0.9);
}

.bottom {
    font-size: 0.9rem;
    filter: opacity(0.6);
}

.detail {
    font-size: 0.8rem !important;
}

.spinner {
    color: var(--sub-color);
    animation: spin 500ms linear infinite;
    font-size: 2rem;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(360deg);
    }
}
