.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 8px 12px;
    font-weight: 500;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-gray);
    font-size: 0.75rem;
}

.wpm {
    display: flex;
    justify-content: center;
    align-items: center;
    color: slateblue;
    font-size: 2rem;
    font-weight: 600;
}

.accuracy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart {
    grid-area: chart;
    height: 200px;
    width: 100%!important;
}
