.navbar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-auto-flow: column;
    gap: 1rem;
    height: var(--nav-size);
    margin: auto;
    width: 100%;
}

.box {
    display: flex;
    gap: 1rem;
}

.spacer {
    background-color: #b4b4ed;
}

.logout {
    all: unset;
}

.logout:hover {
    cursor: pointer;
}

.item {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    transition: all 150ms ease;
}

.item:hover {
    color: azure;
}