.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-size);
    margin: auto;
    width: 100%;
}

.box {
    display: flex;
    gap: .5rem;
}

.spacer {
}

.item {
    display: flex;
    gap: .5rem;
    align-items: center;
    color: var(--sub-color);
    border: 0;
    background: transparent;
    padding: .5rem;
    transition: all 150ms ease;
}

.item:hover {
    color: var(--text-color);
    cursor: pointer;
}

.item:active {
    filter: opacity(0.8);
}

.item:focus {
    filter: opacity(0.8);
}

.icon {
}