.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-size);
    margin: auto;
    width: 100%;
}

.box {
    display: flex;
    gap: 1.5rem;
}

.spacer {
}

.logout {
    all: unset;
}

.logout:hover {
    cursor: pointer;
}

.item {
    all: unset;
    display: flex;
    gap: .5rem;
    align-items: center;
    transition: all 150ms ease;
}

.item:hover {
    color: azure;
}

.icon {
    font-size: 1.5rem;
}