.navbar {
    display: flex;
    gap: 1rem;
    height: var(--nav-size);
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: moccasin;
}

.box {
    display: flex;
    gap: 1rem;
}

.item {
    background-color: cadetblue;
}