.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4rem;
    height: 100%;
}

.header {
    font-size: 2rem;
}

.headerSmall {
    font-size: 1.5rem;
}

.themeConfigSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.propertyList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: space-around;
    gap: 1rem;
}

.propertyBox {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.name {
    display: flex;
    margin-right: auto;
    width: fit-content;
    white-space: nowrap;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    color: var(--sub-color);
}

.field {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    padding: .4rem .6rem;
    width: 10ch;
}

.colorInput {
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

.colorInput::-webkit-color-swatch {
    border-radius: var(--roundness);
    border: 1px solid var(--sub-color);
    transition: 150ms border ease;
}

.colorInput::-webkit-color-swatch:hover {
    border: 1px solid var(--main-color);
}

.colorInput::-moz-color-swatch {
    border-radius: var(--roundness);
    border: 1px solid var(--sub-color);
    transition: 150ms border ease;
}

.colorInput::-moz-color-swatch:hover {
    border: 1px solid var(--main-color);
}

.themeList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    width: 100%;
}

.themeButton {
    all: unset;
    padding: .5rem .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--roundness);
    transition: scale 200ms ease;
}

.themeButton:hover {
    scale: 120%;
}

#sub-input {
    all: unset;
    height: 2rem;
    width: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    border-radius: var(--roundness);
}

.generalConfigSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.fontSelection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
    width: 100%;
}

.fontSelectionItem {
    border: none;
    background: none;
    color: var(--sub-color);
    border-radius: var(--roundness);
    padding: .4rem .6rem;
    transition: background-color 100ms ease;
}

.fontSelectionItem:hover {
    background-color: var(--text-color);
}

.fontSizeChangeSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.valueChangeWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.valueChangeField {
    border: 0;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    width: 25%;
    padding: .4rem .6rem;
    border-radius: var(--roundness);
}

.valueChangeButton {
    border: 0;
    background: none;
    color: var(--sub-color);
    padding: .4rem .6rem;
    transition: color 150ms ease;
}

.valueChangeButton:hover {
    color: var(--text-color);
}

.valueChangeButton:active {
    transition: color 150ms ease;
    filter: opacity(0.8%);
}

.valueChangeButton:nth-last-child(1) {
    margin-left: auto;
}


.selected {
    background-color: var(--main-color);
    color: var(--sub-alt-color);
}
