.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlayEnter {
    opacity: 0;
}

.overlayEnterActive {
    opacity: 1;
    transition: opacity 100ms;
}

.overlayExit {
    opacity: 1;
}

.overlayExitActive {
    opacity: 0;
    transition: opacity 100ms;
}

/* I don't really know why it's pointer by default */
.overlay:hover {
    cursor: default;
}

.content {
    display: flex;
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}