*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: monospace;
}

svg {
    display: block;
    max-width: 100%;
}

:root {
    --nav-size: 75px;
    --color-bg: #1a1a1a;
    --color-fg: #999;
    --color-accent-1: violet;
    
    --wrapper-width: 900px;
    
    --caret-speed: 100ms;
    
    /* Temporary, remove it in the future */
    --dark-gray: #222;
    --gray: #444;
    --light-gray: #666;
}

html, body {
    margin: 0;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    height: calc(100% - var(--nav-size));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    color: var(--color-fg);
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;
}

#contentWrapper {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto;
    max-width: var(--wrapper-width);
    min-height: 100vh;
    padding: 2rem;
    transition: padding-top .125s;
    width: 100%;
    z-index: 999;
    margin: auto;
}