:root {
    --nav-size: 75px;

    --bg-color: #242933;
    --main-color: #ec4c56;
    --sub-color: #596172;
    --sub-alt-color: #1c222d;
    --text-color: #f6f0e9;
    --error-color: #ec4c56;
    --error-extra-color: #9b333a;
    
    /* Comes from Next.js' next/font/google (see app/layout.tsx) */
    --font-family: var(--font-itim);
    --font-size: 16px;
    
    --test-font-size-multiplier: 2;

    --wrapper-width: 900px;

    --caret-speed: 100ms;
    
    --roundness: 5px;

    /* Temporary, remove it in the future */
    --dark-gray: #222;
    --gray: #444;
    --light-gray: #666;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

* {
    font: inherit;
    font-family: var(--font-family);
    font-size: var(--font-size);
    
    font-weight: 500;
    
    /* Firefox */
    scrollbar-color: var(--sub-color) transparent !important;
}

*:focus-visible {
    outline: 2px solid var(--text-color);
    border-radius: var(--roundness);
}

svg {
    display: block;
    max-width: 100%;
}

::selection {
    background-color: var(--main-color);
    color: var(--sub-alt-color);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--sub-color);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
}

html, body {
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: calc(100% - var(--nav-size));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--main-color);
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

#contentWrapper {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto;
    max-width: var(--wrapper-width);
    min-height: 100vh;
    padding: 2rem;
    transition: padding-top .125s;
    width: 100%;
    z-index: 999;
    margin: auto;
}