@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --nav-size: 75px;
    --color-bg: #1a1a1a;
    --color-fg: #999;
    --color-accent-1: mediumvioletred;

    --wrapper-width: 900px;

    --caret-speed: 100ms;

    /* Temporary, remove it in the future */
    --dark-gray: #222;
    --gray: #444;
    --light-gray: #666;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: "IBM Plex Sans", monospace;
}

svg {
    display: block;
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-fg);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent-1);
}

html, body {
    margin: 0;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    height: calc(100% - var(--nav-size));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    color: var(--color-fg);
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;
}

#contentWrapper {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto;
    max-width: var(--wrapper-width);
    min-height: 100vh;
    padding: 2rem;
    transition: padding-top .125s;
    width: 100%;
    z-index: 999;
    margin: auto;
}