.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.spinner {
    color: var(--sub-color);
    animation: spin 500ms linear infinite;
    font-size: 2rem;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(360deg);
    }
}
