.main {
    display: flex;
    justify-content: flex-end;
    flex-basis: 0;
    gap: 0;
}

.top {
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
}

.left {
    display: flex;
    gap: 1rem;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.right {
    display: flex;
}

.middle {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.box {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
}

.words {
    display: flex;
    /* TODO: align-items: flex-start; or something because if there's 2 lines (not 3) then it looks off */
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.75rem;
    font-size: 2rem;
    /* TODO: GET CANCER HOW CAN I MAKE FLEX-WRAP LIMIT TO 3 ROWS MAN HOLY SHIT */
    height: calc(100px * calc(2 * 0.75));
    overflow: hidden;
}

/*@keyframes fade {*/
/*    40% {*/
/*        opacity: 0*/
/*    }*/
/*    50% {*/
/*        opacity: 1*/
/*    }*/
/*    60% {*/
/*        opacity: 0*/
/*    }*/
/*}*/

/*.test {*/
/*    opacity: 1;*/
/*    animation: fade 2s linear;*/
/*}*/

.words:nth-col(2) {
    margin-top: 3rem;
}

.word {
    display: flex;
}

.letter {
    color: var(--sub-color);
}

.caret {
    position: absolute;
    background-color: var(--sub-color);
    border-radius: 10%;
    width: 3px;
    height: calc(2rem + 0.5rem); /* TODO: var(--font-size) */
    transition: all ease var(--caret-speed);
}

.blinking {
    animation: 1.25s ease infinite blink;
}

.hidden {
    visibility: hidden;
}

@keyframes blink {
    20% {
        opacity: 100%;
    }
    50% {
        opacity: 0;
    }
    80% {
        opacity: 100%;
    }
}

.correct {
    color: var(--text-color) !important;
}

.incorrect {
    color: var(--error-color) !important;
}

.error {
    text-decoration: underline;
    text-decoration-color: var(--error-color);
}

.selection {
    display: flex;
    gap: 1rem;
}

.setting {
    all: unset;
    color: var(--sub-color);
    font-size: 1.5rem;
    transition: color, filter 200ms ease;
}

.setting:hover {
    cursor: pointer;
    color: var(--text-color);
}

.setting:active {
    filter: opacity(75%);
}

.selected {
    color: var(--text-color);
}

.timer {
    font-size: 2rem;
}

.counter {
    font-size: 2rem;
    /*margin-right: auto;*/
}

.mode {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 150ms ease;
}

.mode:hover {
    cursor: pointer;
    color: var(--sub-color);
}

.restart {
    all: unset;
    color: var(--sub-color);
    transition: color 150ms ease;
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border: 2px solid #fff0;
}

.restart:hover {
    cursor: pointer;
    color: var(--text-color);
}

.restart:focus {
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 10px;
}
