.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin: auto;
    color: white;
}

.main {
    display: flex;
    justify-content: flex-end;
    flex-basis: 0;
    gap: 0;
}

.top {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
}

.middle {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.words {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border: 2px solid var(--gray);
    border-radius: 5px;
    font-family: monospace;
    font-size: 36px;
}

.next {
    float: right;
    /*background-color: red;*/
    width: 100%;
}

.next * {
    color: yellow !important;
}

.word {
    display: flex;
}

.letter {
    color: var(--light-gray);
}

.caret {
    position: absolute;
    background-color: lightcyan;
    border-radius: 25%;
    width: 4px;
    height: 48px;
    transition: all ease 100ms;
}

.correct {
    color: mediumspringgreen !important;
}

.correct > * {
    color: mediumspringgreen;
}

.incorrect {
    color: palevioletred !important;
}

.incorrect > * {
    color: palevioletred;
}

.error {
    text-decoration: underline;
    text-decoration-color: palevioletred;
}

.selection {
    display: flex;
    gap: 1rem;
}

.setting {
    all: unset;
    color: var(--gray);
    font-size: 1.5rem;
}

.selected {
    color: lightgreen;
}

.setting:hover {
    cursor: pointer;
}