.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.top {
    font-size: 2rem;
}

.middle {
    color: var(--sub-color);
}

.bottom * {
    color: var(--sub-color);
    font-size: 1.5rem;
    transition: color 150ms ease;
}

.bottom *:hover {
    color: var(--text-color);
}