.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
}

.field {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    padding: 6px 8px;
    transition: filter 200ms ease;
    width: 100%;
}

.chatInputField {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    padding: 6px 8px;
    transition: filter 200ms ease;
    width: 100%;
}

.field:focus {
    border: 2px solid var(--main-color);
}

.field:disabled {
    filter: opacity(50%);
}

.field::placeholder {
    color: var(--sub-color);
}

.submitButton {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid transparent;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    padding: 6px 8px;
    transition: color, background-color 200ms ease;
    width: 100%;
}

.submitButton:focus {
    border: 2px solid var(--main-color);
}

.submitButton:hover {
    color: var(--sub-alt-color);
    background-color: var(--text-color);
    cursor: pointer;
}

.submitButton:disabled {
    color: var(--bg-color);
}

.error {
    font-size: 0.75rem;
}