.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4rem;
    padding: 5% 0 0 0;
    height: 100%;
}

.loginRequiredMessage {
    color: var(--sub-color);
    margin: 0 auto;
    font-size: 1.5rem;
}

.link {
    transition: color 150ms ease;
    text-decoration: underline var(--sub-alt-color);
}

.link:hover {
    color: var(--text-color);
}

.link:active {
    transition: filter 150ms ease;
    filter: opacity(0.8);
}

/* Race list */
.refreshListButton {
    border: 0;
    background: none;
    color: var(--sub-color);
    transition: color 150ms ease;
    padding: .4rem .6rem;
}

.refreshListButton:hover {
    color: var(--text-color);
}

.refreshListButton:disabled {
    filter: opacity(0.25);
}

tr {
    display: table-row;
    height: 2rem;
}

thead {
    display: table-header-group;
}

tbody {
    display: table-row-group;
}

tfoot {
    display: table-footer-group;
}

td {
    display: table-cell;
}

td p {
    color: var(--text-color);
}

th p {
    color: var(--sub-color);
}

td, th {
    padding: .25rem 1rem;
}

tr td:first-child {
    border-top-left-radius: var(--roundness);
    border-bottom-left-radius: var(--roundness);
}

tr td:last-child {
    border-top-right-radius: var(--roundness);
    border-bottom-right-radius: var(--roundness);
}

.tables {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    height: 100%;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: .8rem;
    width: 100%;
}

.wrapper {
    height: calc(16rem);
    overflow-x: auto;
    overflow-y: scroll;
    width: 100%;
}

.head {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: 999;
}

.body {
}

.foot {
    position: sticky;
    bottom: 0;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.date {
    width: 12rem;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--sub-color);
    padding: 2rem;
}

.row {
}

.row:nth-child(odd) td {
    background-color: var(--sub-alt-color);
}

.row:nth-child(even) td, .head .cell {
    background-color: var(--bg-color);
}

/* idk why this one doesnt have priority and I have to use `!important` xd */
.foot .cell {
    text-align: center;
    padding: 1rem 0.5rem;
    border-radius: 0 !important;
    background-color: var(--bg-color) !important;
}

.user {
    color: var(--text-color);
    transition: color 150ms ease;
    cursor: pointer;
}

.user:hover {
    color: var(--main-color);
}

.user:active {
    transition: filter 150ms ease;
    filter: opacity(0.8);
}

.item {
}

.joinRaceLink {
    border: 0;
    background: none;
    color: var(--sub-color);
    transition: color 150ms ease;
}

.joinRaceLink:hover {
    color: var(--text-color);
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
    border-radius: var(--roundness);
    padding: .5rem .75rem;
    max-width: 50%;
    width: 40%;
    min-width: 20rem;
}

.horizontalGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.spacer {
    margin-left: auto;
}

.header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    color: var(--sub-color);
}

.checkbox {
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: var(--sub-alt-color);
    height: 1rem;
    width: 1rem;
    border-radius: var(--roundness);
    transition: background-color 150ms ease;
}

input[type="checkbox"]:hover {
    background-color: var(--sub-color);
}

input[type="checkbox"]:active {
    transition: filter 150ms ease;
    filter: opacity(0.8);
}

input[type="checkbox"]:checked {
    background-color: var(--sub-alt-color);
}

input[type="checkbox"]:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "X";
    font-size: 0.8rem;
    color: var(--text-color);
    border-radius: var(--roundness);
    display: none;
}

input[type="checkbox"]:checked:hover {
    background-color: var(--sub-color);
}

input[type="checkbox"]:checked:after {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 150ms ease;
}

.radio {
}

.radioWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

/* TODO: very ugly, fix, temporary :) */
input[type="radio"] {
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: var(--sub-alt-color);
    height: 1rem;
    width: 1rem;
    border-radius: var(--roundness);
    transition: background-color 150ms ease;
}

input[type="radio"]:hover {
    background-color: var(--sub-color);
}

input[type="radio"]:active {
    transition: filter 150ms ease;
    filter: opacity(0.8);
}

input[type="radio"]:checked {
    background-color: var(--sub-alt-color);
}

input[type="radio"]:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: inset 1em 1em var(--sub-color);
    color: var(--text-color);
    border-radius: var(--roundness);
    display: none;
}

input[type="radio"]:checked:hover {
    background-color: var(--sub-color);
}

input[type="radio"]:checked:after {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 150ms ease;
}

.field {
    all: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    padding: 6px 8px;
    box-sizing: border-box; /* TODO: why the fuck do I need to do it? `globals.css` already has it? */
    transition: filter 200ms ease;
}

.chatInputField {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    padding: 6px 8px;
    transition: filter 200ms ease;
    width: 100%;
}

.field:focus {
    border: 2px solid var(--main-color);
}

.field:disabled {
    filter: opacity(50%);
}

.field::placeholder {
    color: var(--sub-color);
}

.submitButton {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid transparent;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    padding: 6px 8px;
    transition: color, background-color 200ms ease;
    box-sizing: border-box; /* TODO: why the fuck do I need to do it? `globals.css` already has it? */
    width: 100%;
}

.submitButton:focus {
    border: 2px solid var(--main-color);
}

.submitButton:hover {
    color: var(--sub-alt-color);
    background-color: var(--text-color);
    cursor: pointer;
}

.submitButton:disabled {
    color: var(--bg-color);
}

.error {
    font-size: 0.75rem;
}