.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card {
    background-color: var(--sub-alt-color);
}

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
    border-radius: var(--roundness);
    padding: .5rem .75rem;
}

.horizontalGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.header {
    font-size: 1.5rem;
}

.label {
    color: var(--sub-color);
}

.checkbox {
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: var(--sub-alt-color);
    height: 1rem;
    width: 1rem;
    border-radius: var(--roundness);
    transition: background-color 150ms ease;
}

input[type="checkbox"]:hover {
    background-color: var(--sub-color);
}

input[type="checkbox"]:active {
    transition: filter 150ms ease;
    filter: opacity(0.8);
}

input[type="checkbox"]:checked {
    background-color: var(--sub-alt-color);
}

input[type="checkbox"]:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "X";
    font-size: 0.8rem;
    color: var(--text-color);
    border-radius: var(--roundness);
    display: none;
}

input[type="checkbox"]:checked:hover {
    background-color: var(--sub-color);
}

input[type="checkbox"]:checked:after {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 150ms ease;
}

.radio {
}

/* TODO: very ugly, fix, temporary :) */
input[type="radio"] {
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: var(--sub-alt-color);
    height: 1rem;
    width: 1rem;
    border-radius: var(--roundness);
    transition: background-color 150ms ease;
}

input[type="radio"]:hover {
    background-color: var(--sub-color);
}

input[type="radio"]:active {
    transition: filter 150ms ease;
    filter: opacity(0.8);
}

input[type="radio"]:checked {
    background-color: var(--sub-alt-color);
}

input[type="radio"]:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: inset 1em 1em var(--sub-color);
    color: var(--text-color);
    border-radius: var(--roundness);
    display: none;
}

input[type="radio"]:checked:hover {
    background-color: var(--sub-color);
}

input[type="radio"]:checked:after {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 150ms ease;
}

.field {
    all: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    padding: 6px 8px;
    box-sizing: border-box; /* TODO: why the fuck do I need to do it? `globals.css` already has it? */
    transition: filter 200ms ease;
}

.chatInputField {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    padding: 6px 8px;
    transition: filter 200ms ease;
    width: 100%;
}

.field:focus {
    border: 2px solid var(--main-color);
}

.field:disabled {
    filter: opacity(50%);
}

.field::placeholder {
    color: var(--sub-color);
}

.submitButton {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid transparent;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    padding: 6px 8px;
    transition: color, background-color 200ms ease;
    box-sizing: border-box; /* TODO: why the fuck do I need to do it? `globals.css` already has it? */
    width: 100%;
}

.submitButton:focus {
    border: 2px solid var(--main-color);
}

.submitButton:hover {
    color: var(--sub-alt-color);
    background-color: var(--text-color);
    cursor: pointer;
}

.submitButton:disabled {
    color: var(--bg-color);
}

.error {
    font-size: 0.75rem;
}