.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.5rem;
    height: var(--nav-size);
}

.logo {
    cursor: pointer;
}

.big {
    font-size: 2rem;
    color: var(--main-color);
    letter-spacing: -1.25px;
}

.sub {
    font-size: .75rem;
    color: var(--sub-color);
    text-align: center;
}