.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: .5rem;
    max-width: calc(var(--wrapper-width) / 3);
    padding: 24px 36px;
}

.field {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    padding: 4px 6px;
}

.field:focus {
    border: 2px solid var(--main-color);
}

.field::placeholder {
    color: var(--sub-color);
}

.button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid transparent;
    color: var(--text-color);
    background-color: var(--sub-alt-color);
    border-radius: var(--roundness);
    padding: 4px 6px;
    transition: color, background-color 200ms ease;
}

.button:focus {
    border: 2px solid var(--main-color);
}

.button:hover {
    color: var(--sub-alt-color);
    background-color: var(--text-color);
    cursor: pointer;
}

.button:disabled {
    color: var(--bg-color);
}

.error {
    font-size: 0.75rem;
}

.instead {
    font-size: 0.75rem;
    color: var(--sub-color);
    transition: color 100ms ease;
}

.instead:hover {
    color: var(--text-color);
}